$violet : #323264;

$violetlt : #46466E;
$violetst: #686887;
$accent: #F0145A;
$regular: #0085FF;
$hover: #006CCF;
$active: #24A3FF;
$bg: #F5F5FA;
$bg_alt: #EDEDF7;
$text: #B3B3BA;
$separator: #E6E6F0;






